#root .App {
  text-align: center;
  margin: 0 auto;
}
#root .App .header {
  background-color: rgba(211, 26, 88, 0.822);
}
#root .App .header .nav {
  display: none;
}
#root .App .header .nav ul {
  margin: 0;
  max-width: 95%;
  margin: 0 auto;
  text-align: right;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
#root .App .header .nav ul a {
  flex: 0 1 auto;
  color: white;
  text-decoration: none;
  padding: 20px;
  transition: all 0.2s;
}
#root .App .header .nav ul a:hover {
  background-color: rgba(166, 20, 69, 0.822);
  cursor: pointer;
}
#root .App .header-mobile {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: white;
  font-size: 18px;
}
#root .App .header-mobile h2 {
  margin: 0;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  #root .App .header .nav {
    display: block;
  }
  #root .App .header-mobile {
    display: none;
  }
}
#root .App .movie-container {
  max-width: 95%;
  padding: 10px 0;
  margin: 0 auto;
}
#root .App .movie-container .filter {
  text-align: right;
  color: rgba(211, 26, 88, 0.822);
}
#root .App .movie-container .filter label {
  margin-right: 10px;
}
#root .App .movie-container .filter select {
  border: 1px solid rgba(211, 26, 88, 0.822);
  border-radius: 5px;
}
#root .App .movie-container .filter select:focus {
  border: 1px solid rgba(211, 26, 88, 0.822);
}
#root .App .movie-container .movie-list {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
#root .App .movie-container .movie-list__item {
  margin: 10px 0;
  flex-basis: calc(50% - 5px);
  box-shadow: 0 4px 10px 0px #7d7b7b;
  position: relative;
  border-radius: 10px;
}
#root .App .movie-container .movie-list__item img {
  width: 100%;
  border-radius: 10px;
}
#root .App .movie-container .movie-list__item__details {
  padding: 10px;
  color: white;
  text-align: left;
  font-weight: 100;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9999;
  bottom: 0;
  width: 100%;
  background: linear-gradient(0deg, black, black 40%, transparent);
  border-radius: 0 0 10px 10px;
}
#root .App .movie-container .movie-list__item__details h2 {
  margin: 0 0 10px 0;
  font-weight: 300;
}
#root .App .movie-container .movie-list__item__details span {
  font-size: 14px;
}
#root .App .movie-container .movie-list__item__details span i {
  color: gold;
  margin-right: 5px;
}
@media screen and (min-width: 500px) {
  #root .App .movie-container .movie-list__item {
    flex-basis: calc(33% - 5px);
  }
}
@media screen and (min-width: 768px) {
  #root .App .movie-container .movie-list__item {
    flex-basis: calc(25% - 5px);
  }
}
@media screen and (min-width: 1200px) {
  #root .App .movie-container .movie-list__item {
    flex-basis: calc(20% - 5px);
    transform: scale(1);
    transition: transform 0.2s;
    margin-bottom: 15px;
  }
  #root .App .movie-container .movie-list__item:hover {
    transform: scale(0.98);
    cursor: pointer;
  }
  #root .App .movie-container .movie-list__item__details h2 {
    font-size: 34px;
  }
  #root .App .movie-container .movie-list__item__details span {
    font-size: 18px;
  }
}
@media screen and (min-width: 1900px) {
  #root .App .movie-container .movie-list__item {
    flex-basis: calc(14% - 5px);
  }
}
#root .App .footer {
  background-color: rgba(211, 26, 88, 0.822);
  padding: 20px 0;
}
#root .App .footer ul {
  padding: 0;
  max-width: 95%;
  margin: 0 auto;
}
#root .App .footer ul a {
  color: white;
  font-size: 22px;
  transition: color 0.2s;
}
#root .App .footer ul a:hover {
  color: #e6e6e6;
  cursor: pointer;
}
